/subprojects/bookjar-util/build/
/subprojects/bookjar-decompress/build/
/build/
/subprojects/bookjar-notifications/build/
/subprojects/bookjar-util/dist/
/subprojects/bookjar-decompress/dist/
/subprojects/bookjar-download/dist/
/subprojects/bookjar-download/build/
/subprojects/bookjar-notifications/dist/
/subprojects/bookjar-parser/dist/
/subprojects/bookjar-parser/build/
/dist
/nbproject/private/
/lib/*
!/lib/nblibraries.properties
!/lib/CopyLibs/
!/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
/debian/changelog
/debian/bookjar
/debian/files
/debian/bookjar.postinst.debhelper
/debian/bookjar.substvars
/debian/bookjar.postrm.debhelper
/debian/bookjar.debhelper.log
/subprojects/bookjar-notifications/nbproject/private/