[Desktop Entry]
Name=Bookjar
Categories=Office;Viewer;
Keywords=reading;book;
Encoding=UTF-8
Exec=/usr/bin/bookjar
TryExec=/usr/share/java/bookjar.jar
GenericName=Book Reader
Comment=Read a book!
Icon=/usr/share/icons/bookjar.png
Terminal=false
Type=Application
URL=https://github.com/i30817/bookjar
