Source: bookjar
Section: text
Priority: optional
Maintainer: i30817 <i30817@gmail.com>
Build-Depends: debhelper (>= 7.0.50), javahelper (>=0.32~), ant (>=1.8.0~)
Standards-Version: 3.9.3
Build-Depends-Indep: openjdk-7-jdk

Package: bookjar
Architecture: amd64
Depends: openjdk-7-jre, jarwrapper (>=0.40~)
Homepage: http://code.google.com/p/bookjar/
Description: java book reader
 Reads html, text and rtf files (or zipped variants).
 Has a project gutenberg book downloader
